.rightSidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rightSidebarCalander {
  display: flex;
  margin-top: 15px;
}

.rightSidebarCalanderItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.rightSidebarCalanderItemWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 5px;
  background-color: rgb(250, 250, 250);
  border-radius: 10px;
  margin: 0px 15px;
}

.rightSidebarCalanderItemDateTopSpan {
  font-size: 16px;
}

.rightSidebarCalanderItemDateLine {
  width: 100px;
  margin: 5px 0px;
  border: 0.5px solid rgb(209, 209, 209);
}

.rightSidebarCalanderItemDateBottomSpan {
  font-size: 24px;
}

.rightSidebarNotification {
  width: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.rightSidebarNotificationWrapper {
    padding: 10px;
}

.rightSidebarNotificationItem{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px;
    margin: 10px 0px;
    border-bottom: 1px solid rgb(190, 190, 190);
}

.rightSidebarNotificationIcon {
    width: 25px;
    height: 25px;
}

.rightSidebarNotificationSpan {
    font-size: 14px;
    margin-left: 10px;
}

.rightSidebarNotificationMoreButton {
  border: none;
  background-color: white;
  font-size: 14px;
  cursor: pointer;
}

.rightSidebarMessenger {
  width: 88%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  background-color: white;
}

.react-calendar {
  width: 95%;
  max-width: 100%;
  margin: 10px 0px;
  margin-left: 10px;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  border-radius: 10px;
  padding: 2px;
}

.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  display: flex;
  height: 11px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 11px;
  background: none;
}
.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  padding: 5px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}
