.dashboardSliderFirstRightContainer {
  width: 100%;
  margin-left: 10px;
}

.dashboardSliderFirstRightWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.dashboardSliderFirstRightCurrency {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.dashboardSliderFirstRightCurrencyWrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.dashboardSliderFirstRightCurrencyLine {
  width: 1px;
  height: 30px;
  background-color: rgb(202, 202, 202);
}

.dashboardSliderFirstRightCurrencyTopSpan {
  font-size: 16px;
}

.dashboardSliderFirstRightCurrencyBottomSpan {
  font-size: 16px;
  font-weight: 500;
  margin-top: 5px;
}

.dashboardSliderFirstRightExchange {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.3);
}

.dashboardSliderFirstRightExchangeSelectWrapper {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dashboardSliderFirstRightExchangeSelect {
  width: 230px;
  height: 25px;
  border-radius: 5px;
  background-color: rgb(236, 236, 236);
}

.dashboardSliderFirstRightExchangeAddIcon {
  margin-left: 20px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.dashboardSliderFirstRightExchangeChangeInput {
  margin: 15px 10px 10px 10px;
  width: 220px;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.dashboardSliderFirstRightExchangeCurrency {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.dashboardSliderFirstRightExchangeCurrencyLeftwrapper {
  display: flex;
  align-items: center;
  justify-content: start;
  text-align: start;
  width: 120px;
  height: 45px;
  background-color: rgb(236, 236, 236);
  border-radius: 5px;
  margin-left: 10px;
}

.dashboardSliderFirstRightExchangeCurrencyIcon {
  margin-left: 10px;
  width: 25px;
  height: 25px;
}

.dashboardSliderFirstRightExchangeCurrencyInfoContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyInfoContainerP {
  font-size: 8px;
}

.dashboardSliderFirstRightExchangeCurrencyInfoContainerSpan {
  font-size: 16px;
  font-weight: 600;
}

.dashboardSliderFirstRightExchangeCurrencyValue {
  flex: 2;
  margin: 10px 0px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: 20px;
  width: 200px;
  height: 45px;
  border: 1px solid black;
  border-radius: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyValueSpan {
  margin-right: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 5px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferContainerIcon{
  width: 25px;
  height: 25px;
  flex: 1;
  margin-right: 20px;
  cursor: pointer;
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  padding: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferQty {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
}

.dashboardSliderFirstRightExchangeCurrencyTransferQtySpan {
  font-size: 14px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferQtyValue {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 150px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferQtyValueSpan {
  font-size: 15px;
  margin-right: 10px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferFee {
  display: flex;
  align-items: center;
  justify-content: end;
  flex: 2;
  margin-left: 20px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferFeeSpan {
  font-size: 14px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferFeeValue {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 50px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 5px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferFeeValueSpan {
  font-size: 15px;
  margin-right: 10px;
}

.dashboardSliderFirstRightExchangeCurrencyTransferContainerIconBottom {
  margin: 10px 0px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  background-color: rgb(192, 192, 192);
  border-radius: 50%;
  padding: 5px;
}