.leftSidebar {
  position: sticky;
  top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 1.5;
  background-color: white;
}

.leftSidebarItem {
  width: 80%;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
}

.leftSidebarWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.avatar {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.userInfoContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.userSpan {
  font-size: 14px;
  margin-bottom: 5px;
}

.userP {
  font-size: 14px;
}

.leftSidebarMenuItems {
  width: 90%;
  margin-bottom: 2px;
  padding: 6px 8px;
  display: flex;
  align-items: center;
  text-align: start;
  border-bottom: 0.5px solid rgb(214, 214, 214);
  cursor: pointer;
  transition: all 0.2s ease;
}

.leftSidebarMenuIcons {
  width: 20px;
  height: 20px;
}

.leftSidebarMenuSpan {
  font-size: 20px;
  margin-left: 10px;
}

.leftSidebarIconWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.leftSidebarIcons {
  margin: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.leftSidebarIconsLine {
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  border: 0.5px solid rgb(216, 216, 216);
}

.leftSidebarCopyrightWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(121, 121, 121);
}

.copyrightSpan {
  margin-bottom: 3px;
  font-size: 16px;
  font-weight: 300;
}

.copyrightP {
  margin-bottom: 5px;
  font-size: 12px;
}

.copyrightIcon {
  width: 80%;
  height: 30px;
}
