.slider {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 10px;
}

.sliderButtonWrapper {
  flex: 1;
  display: flex;
}

.slideButton0 {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 7px;
  cursor: pointer;
}

.slideButton1 {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 7px;
  cursor: pointer;
}

.slideButton2 {
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin-left: 7px;
  cursor: pointer;
}

.sliderLeft {
  width: 100%;
  display: flex;
  flex: 6.5;
}

.sliderRight {
  display: flex;
  width: 100%;
  flex: 6.5;
}
