.dashboardSliderFirst {
  display: flex;
  width: 100%;
  padding: 10px;
}

.dashboardSliderFirstWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.dashboardSliderFirstLeft {
  width: 100%;
  display: flex;
  flex: 1;
  align-items: start;
  justify-content: center;
}

.dashboardSliderFirstLeftItem {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.dashboardSliderFirstLeftItemIcon {
  width: 25px;
  height: 25px;
}

.dashboardSliderFirstLeftItemInfo {
  margin-left: 10px;
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(194, 194, 194);
  margin-bottom: 25px;
}

.dashboardSliderFirstLeftItemInfoLeft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
}

.dashboardSliderFirstLeftItemInfoLeftSpan {
  font-size: 16px;
  font-weight: 600;
}

.dashboardSliderFirstLeftItemInfoLeftP {
  font-size: 12px;
}

.dashboardSliderFirstLeftItemButtonContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 40px;
}

.dashboardSliderFirstLeftItemInfoLeftButtonContainerWrapper {
  display: flex;
  align-items: center;
}

.dashboardSliderFirstLeftItemInfoLeftButtonContainerButton {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-align: start;
  background-color: orange;
  width: 90px;
  height: 20px;
  border-radius: 5px;
}

.dashboardSliderFirstLeftItemInfoLeftButtonContainerButtonSpan {
  padding-left: 5px;
  width: 75px;
  height: 20px;
  font-size: 16px;
  font-weight: 600;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.dashboardSliderFirstLeftItemInfoLeftButtonContainerButtonIcon {
  margin-left: 5px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.dashboardSliderFirstLeftItemButtonContainerTime {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 12px;
}
