.loginPage {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 230, 230);
}

.loginPageForm {
    background-color: white;
    padding: 20px;
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.loginPageFormLabel {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 300;
}

.loginPageFormInput {
    margin-top: 10px;
    padding: 0px 10px;
    font-size: 20px;
    width: 250px;
    height: 30px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
    font-weight: 300;
}

.loginPageFormSubmitButton {
    margin: 50px 0px;
    width: 180px;
    height: 50px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: teal;
    cursor: pointer;
}