.wallet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 5;
  background-color: rgb(248, 248, 248);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background-color: white;
}
